@import './mixins';

.air-datepicker-body--day-name {
	color: var(--purple-disabled-color);
	@include caption_3_10_r;
}
.air-datepicker--pointer {
	display: none;
}
.air-datepicker-nav--action {
	border-radius: 999px;
}
.air-datepicker {
	border-radius: 20px;
	border: none;
	box-shadow: var(--shadow);
}
.air-datepicker-cell.-day- {
	@include text_2_14_r;
}

.air-datepicker-cell.-month-.-selected-,
.air-datepicker-cell.-year-.-selected- {
	background: none;
}

.air-datepicker-cell.-month-.-selected-,
.air-datepicker-cell.-year-.-selected-,
.air-datepicker-cell.-year-.-current-,
.air-datepicker-cell.-month-.-current- {
	&:before {
		display: none;
	}
}
.air-datepicker-cell.-month-.-selected-,
.air-datepicker-cell.-year-.-selected-,
.air-datepicker-cell.-year-.-current-,
.air-datepicker-cell.-month-.-current-,
.air-datepicker-cell.-day-.-current- {
	color: var(--purple-color);
	position: relative;

	&:before {
		content: '';
		left: 0;
		right: 0;
		position: absolute;
		width: 4px;
		height: 4px;
		background: var(--purple-color);
		border-radius: 999px;
		bottom: 2px;
		margin: auto;
	}
}

.air-datepicker-cell.-year-.-focus-,
.air-datepicker-cell.-month-.-focus-,
.air-datepicker-cell.-day-.-focus- {
	border-radius: 999px;
	background: var(--purple-disabled-color);
	color: var(--white-color);
}
.air-datepicker-cell.-day-.-selected- {
	border-radius: 999px;
	background: var(--purple-color);
	color: var(--white-color);
}
