.profileNotificationsWrapper {
	background: var(--gray-color);
	padding-top: 122px;
	display: flex;
	flex-direction: column;
	.profileNotifications {
		&.full {
			height: 100%;
		}
		.notificationsList {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
