.profileNews {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.tabsContent {
	margin-top: 20px;
	height: 100%;

	.tabWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.addNewsBtn {
			gap: 8px;
			height: 40px;
			img {
				width: 18px;
				height: 18px;
			}
		}
		button {
			padding-right: 12px;
			padding-left: 12px;
			p {
				display: flex;
				gap: 2px;
				span {
					background: var(--purple-color);
					border-radius: 999px;
					padding: 2px;
					font-weight: 500;
					font-size: 8px;
					line-height: 12px;
					color: var(--white-color);
					display: flex;
					align-items: center;
					justify-content: center;
					width: fit-content;
				}
			}
		}
	}
}

.tabPannelWrapper {
	display: grid;
	grid-template-columns: 264px 1fr;
	gap: 48px;
	margin-top: 36px;

	.profileFilters {
		box-shadow: none;
		padding: 0;
	}
	.tabPanel {
		width: 100%;
		.list {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-bottom: 16px;
			margin-top: 16px;
		}
		.blockWrapper {
			display: flex;
			flex-direction: column;
			gap: 48px;
			.title {
				@include title_2_20_m;
			}

			.moreBtn {
				@include link_14_m;
				svg {
					width: 6px;
					height: 10px;
					path {
						stroke: var(--purple-color);
					}
				}
			}
		}
	}
	&.row {
		grid-template-columns: 1fr;
		margin-top: 20px;
		.blockWrapper {
			.title {
				color: var(--purple-color);
				@include title_4_14_m;
				display: flex;
				align-items: center;
				gap: 12px;
				svg {
					width: 18px;
					height: 18px;
					path {
						fill: var(--purple-color);
					}
				}
			}
		}
	}
}
