.fondsListWrapper {
	.total {
		margin-bottom: 12px;
		@include text_1_16_r;
		color: var(--txt-gray-color2);
	}
	.fondsList {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 48px;
	}
}
