.supportFondModal {
	.modalContent {
		width: 100%;
		.title {
			@include headline_32_m;
		}
		.paymetMethods {
			width: 100%;
			margin-top: 28px;
			.directionBtn {
				& > div {
					& > div {
						flex-direction: column-reverse;
						gap: 4px;
					}
				}
			}
		}
	}
}
