.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.inner {
		.navBtn {
			width: 40px;
			height: 40px;
			border-radius: 12px;
			background: var(--gray-color);
			padding: 0;
			&:disabled {
				background: var(--gray-color) !important;
				svg {
					opacity: 0.5;
				}
			}
		}
		.pages {
			gap: 0;
		}
		.pageBtn {
			background: none;
			width: 40px;
			height: 40px;
			&:disabled {
				background: var(--white-color) !important;
				opacity: 1;
			}
		}
	}
	.pages {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	.navBtn {
		background: var(--white-color);
		width: 64px;
		height: 64px;
		border-radius: 24px;
		&:disabled {
			background: var(--white-color) !important;
			opacity: 1 !important;
			svg {
				opacity: 0.5;
			}
		}
		&:hover {
			background: var(--purple-hover-color);
			svg {
				path {
					stroke: var(--white-color);
				}
			}
		}
	}
}
