.crumbs {
	display: flex;
	align-items: center;
	gap: 12px;
	.crumbItem {
		display: flex;
		align-items: center;
		gap: 12px;
		p {
			@include caption_2_12_r;
			color: var(--txt-gray-color2);
			text-transform: capitalize;
			transition: var(--trs-300);
		}
		a {
			&:hover {
				p {
					color: var(--purple-hover-color);
				}
			}
		}
	}
}
