.badge {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	&.alert {
		border-radius: 999px;
		background: var(--purple-color) !important;
		@include title_5_12_m;
		color: var(--white-color);
	}
	&.outline {
		border: 1px solid var(--purple-color);
		background: none !important;
	}
	&.s {
		border-radius: var(--radius-xxs);
		font-size: 7px;
		line-height: 9px;
		font-weight: 400;
		padding: 0 5px;
		height: 14px;
	}
	&.m {
		height: 24px;
		padding: 0 8px;
		border-radius: var(--radius-xs);
		@include caption_2_12_r;
	}
	&.l {
		height: 30px;
		padding: 0 16px;
		@include title_5_12_m;
	}
	&.xl {
		height: 36px;
		@include text_2_14_r;
		border-radius: var(--radius-m);
		padding: 0 16px;
		gap: 7px;

		@media (max-width: $tab) {
			height: 40px;
			padding: 0 10px;
		}
	}
	&.xxl {
		height: 82px;
		@include title_3_16_m;
		border-radius: var(--radius-m);
		padding: 0 20px;
		@media (max-width: $tab) {
			height: 40px;
			padding: 0 10px;
		}
	}
	&.white {
		background: var(--white-color);
	}
	&.purple {
		background: #f3f1fb;
		color: var(--purple-color);
	}
	&.gray {
		background: var(--gray-color);
	}
	&.green {
		background: var(--green-color);
		color: var(--white-color);
	}
	&.gold {
		background: var(--gold-color);
		color: var(--white-color);
	}
	&.clear {
		background: none;
		@include text_2_14_r;
		padding: 0;
		&.purple {
			color: var(--purple-color);
		}
		&.green {
			color: var(--green-color);
		}
		&.red {
			color: var(--danger-color);
		}
		&.gray {
			color: var(--dark-color);
		}
		&.gold {
			color: var(--gold-color);
		}
	}
	&.secondary {
		background: none;
		@include text_2_14_r;
		padding: 0 8px;
		gap: 5px;
		img {
			width: 13px;
			height: 13px;
		}
		&.green {
			color: var(--green-color);
			background: var(--gray-color);
		}
	}
}
