.profileSubscriptions {
	height: 100%;
	display: flex;
	flex-direction: column;
	.tabsContent {
		margin-top: 20px;
		height: 100%;

		.tabWrapper {
			max-width: 343px;
		}
	}

	.tabPannelWrapper {
		margin-top: 20px;
		height: 100%;

		.profileFilters {
			box-shadow: none;
			padding: 0;
		}
		.tabPanel {
			width: 100%;
			height: 100%;

			.list {
				display: flex;
				flex-direction: column;
				.subscribeCard {
					&:last-child {
						border-bottom: 1px solid var(--line-color);
					}
				}
			}
		}
	}
}
