.documentsModal {
	.modalContent {
		display: flex;
		flex-direction: column;
		.title {
			@include title_1_24_m;
		}
		.documentsListWrapper {
			margin-top: 24px;
			.subTitle {
				@include title_2_20_m;
			}
			.documentsList {
				display: flex;
				flex-direction: column;
				gap: 16px;
				margin-top: 16px;
			}
		}
	}
}
