.gallery {
	background: var(--gray-color);
	padding-top: 128px;
	padding-bottom: 151px;
	overflow: hidden;
	margin-bottom: -25px;
	@media (max-width: $tab) {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	h2 {
		@include h2;
		span {
			color: var(--purple-color);
		}
	}
	.galleryContent {
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		gap: 28px;
		@media (max-width: $tab) {
			margin-top: 40px;
		}
		@media (max-width: $mob) {
			display: none;
		}
		.galleryRow {
			display: flex;
			align-items: center;
			gap: 28px;
			animation: scroll 35s linear infinite;
			&:last-child {
				animation-direction: reverse;
			}

			.image {
				min-width: 427px;
				border-radius: var(--radius-s);
				@media (max-width: $tab) {
					padding-bottom: 25% !important;
				}
			}
		}
	}
	.swiperWrapper {
		display: none;
		overflow: hidden;
		margin-top: 40px;
		@media (max-width: $mob) {
			display: block;
		}
		& > div {
			overflow: visible;
		}
		.navigation {
			position: absolute;
			top: 145px;
			left: -20px;
			right: -20px;
			margin: auto;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: space-between;
			pointer-events: none;
			@media (max-width: $mob) {
				position: relative;
				top: auto;
				left: 0;
				right: 0;
				margin-top: 20px;
			}
			button {
				pointer-events: all;
			}
			.pagination {
				display: none;
				@include title_3_16_m;
				span {
					color: var(--purple-color);
				}
				@media (max-width: $mob) {
					display: block;
				}
			}
		}
	}
}
@keyframes scroll {
	to {
		transform: translate(calc(-50% - 0.5rem));
	}
}
