.collectingInfo {
	box-shadow: var(--shadow);
	background: var(--white-color);
	border-radius: 24px;
	padding: 16px 24px 24px;
	.collectingInfoTop {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
		border-bottom: 1px solid var(--txt-gray-color);
		p {
			@include text_2_14_r;
		}
		.features {
			display: flex;
			align-items: center;
			gap: 12px;
			button {
				width: 24px;
				height: 24px;
				&:hover {
					svg {
						path {
							fill: var(--purple-hover-color);
						}
					}
				}
				svg {
					width: 18px;
					height: 15px;
				}
			}
		}
	}
	.collectingInfoCenter {
		margin-top: 20px;
		.fond {
			display: flex;
			align-items: center;
			gap: 8px;
			.image {
				width: 56px;
				height: 56px;
			}

			.fondInfo {
				display: flex;
				flex-direction: column;
				gap: 2px;
				span {
					@include text_2_14_r;
					color: var(--txt-gray-color2);
				}
				p {
					@include title_3_16_m;
				}
			}
		}

		button {
			width: 100%;
			margin-top: 20px;
		}
		.time {
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			span {
				color: var(--gold-color);
			}
			span,
			p {
				@include text_2_14_r;
			}
		}
	}
}
