.button {
	background: none;
	outline: none;
	cursor: pointer;
	border: none;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--trs-300);
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
		background: var(--gray-color) !important;
		color: var(--dark-color) !important;
		svg {
			path {
				stroke: var(--dark-color) !important;
			}
		}
	}

	&.clear {
		background: none;
		height: fit-content !important;
		padding: 0;
		width: fit-content;
	}
	&.text {
		background: none;
		height: fit-content !important;
		padding: 0;
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 12px;
		color: var(--txt-gray-color2);
	}
	&.default {
		background: var(--gray-color);
		padding: 0 24px;
		border-radius: var(--radius-s);
		@include title_3_16_m;
		&.white {
			background: var(--white-color);
			box-shadow: var(--shadow);
		}
		&:hover {
			background: var(--line-color);
		}
		&:active {
			background: var(--txt-gray-color);
		}
	}
	&.primary {
		background: var(--purple-color);
		padding: 0 24px;
		color: var(--white-color);
		border-radius: var(--radius-s);
		@include button_1_16_r;
		&:hover {
			background: var(--purple-hover-color);
		}
		&:active {
			background: var(--purple-active-color);
		}
	}
	&.outline {
		padding: 0 24px;
		color: var(--purple-color);
		border: 1px solid var(--purple-color);
		border-radius: var(--radius-s);
		@include button_1_16_r;
		&.gray {
			border-color: var(--txt-gray-color);
			color: var(--dark-color);
		}
		&:hover {
			border-color: var(--purple-hover-color);
			color: var(--purple-hover-color);
		}
		&:active {
			border-color: var(--purple-active-color);
			color: var(--purple-active-color);
		}
	}
	&.circle {
		width: 45px;
		height: 45px;
		padding: 0;
		border-radius: 999px;
		background: var(--purple-color);
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background: var(--purple-hover-color);
		}
		&:active {
			background: var(--purple-active-color);
		}
	}
	&.secondary {
		background: var(--dark-color);
		padding: 0 24px;
		color: var(--white-color);
		border-radius: var(--radius-s);
		@include button_1_16_r;
	}
	&.xs {
		height: 32px;
		padding: 0 10px !important;
		@include title_4_14_m;
	}
	&.s {
		height: 48px;
	}
	&.sm {
		height: 60px;
	}
	&.m {
		height: 64px;
		@media (max-width: $tab-sm) {
			height: 60px;
		}
	}
	&.l {
		height: 80px;
	}
}
