.cancelSubscribe {
	display: flex;
	flex-direction: column;
	gap: 228px;
	.top {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 64px;
			height: 64px;
		}
		.title {
			margin-top: 48px;
			@include headline_32_m;
			text-align: center;
		}
		.descr {
			margin-top: 16px;
			@include text_1_16_r;
		}
	}
	.bottom {
		.disable {
			display: flex;
			align-items: center;
			justify-content: space-between;
			p {
				@include text_1_16_r;
			}
		}
		button {
			margin-top: 30px;
			width: 100%;
		}
	}
}
