.profileHistory {
	.sortWrapper {
		margin-top: 20px;
		display: flex;
		align-items: center;
		gap: 42px;
	}
	.sort {
	}

	.list {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 36px;
		.row {
			display: grid;
			grid-template-columns: 160px 1fr;
			gap: 30px;
			.dateBlock {
				p {
					@include text_2_14_r;
					color: var(--txt-gray-color2);
				}
			}
			.fondsList {
				display: flex;
				flex-direction: column;
				.historyCard {
					padding: 16px 0;
					gap: 20px;
					display: grid;
					grid-template-columns: 209px 258px 128px 85px;
					&:first-child {
						padding-top: 0;
						border-bottom: 1px solid var(--line-color);
					}
					// &:last-child {
					// 	padding-bottom: 0;
					// }
					.author {
						display: flex;
						align-items: center;
						gap: 16px;
						.image {
							min-width: 40px;
							min-height: 40px;
							max-width: 40px;
							max-height: 40px;
							border-radius: 999px;
						}
						.title {
							@include link_14_m;
						}
					}
					.descr {
						@include text_2_14_r;
					}
					.card {
						color: var(--txt-gray-color2);
						@include button_2_14_r;
					}
					.sum {
						text-align: right;
						@include title_4_14_m;
						color: var(--danger-color);
					}
				}
			}
		}
	}
}
