.fondCard {
	background: var(--white-color);
	padding: 30px;
	border-radius: var(--radius-xl);
	display: flex;
	align-items: center;
	gap: 20px;
	img {
		min-width: 96px;
		min-height: 96px;
		max-width: 96px;
		max-height: 96px;
		border-radius: 999px;
		object-fit: cover;
	}
	.fondCardContent {
		display: flex;
		flex-direction: column;
		gap: 12px;
		width: 100%;
		.fondCardTop {
			display: flex;
			align-items: center;
			gap: 20px;
			.text {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				p {
					@include title_1_24_m;
				}
			}
			.favorButton {
				svg {
					width: 17px;
					height: 17px;
				}
			}
		}
		.fondCardBottom {
			display: flex;
			flex-wrap: wrap;
			gap: 4px;
			max-width: 671px;
		}
	}
}
