.profileRequests {
	height: 100%;
	display: flex;
	flex-direction: column;
	.tabsContent {
		margin-top: 20px;
		height: 100%;
		.tabWrapper {
			max-width: 655px;
		}
	}

	.tabPannelWrapper {
		margin-top: 16px;
		.tabPanel {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
