.content {
	width: 100%;
	.title {
		@include headline_32_m;
	}
	.subtitle {
		margin-top: 8px;
		@include text_2_14_r;
		color: var(--txt-gray-color2);
	}
	.selectRating {
		margin-top: 28px;
		background: var(--gray-color);
		border-radius: 16px;
		padding: 20px 16px 16px;
		.ratingTitle {
			text-align: center;
			@include title_4_14_m;
		}
		.rating {
			margin-top: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 17px;
			.star {
				&.hover {
					svg {
						path {
							fill: var(--txt-gray-color2);
						}
					}
				}
				&.active {
					svg {
						path {
							fill: var(--gold-color);
						}
					}
				}
				svg {
					width: 22px;
					height: 22px;
				}
			}
		}
	}
	form {
		margin-top: 28px;
		.formTitle {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 8px;
			span {
				color: var(--danger-color);
			}
		}
		button {
			width: 100%;
			margin-top: 28px;
		}
	}
}
