.selectRegister {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	.btns {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 48px;
		width: 100%;
		button {
			border-radius: var(--radius-m);
			width: 100%;
		}
	}
}
