.profileWallet {
	.billingCardsWrapper {
		margin-top: 36px;
		.billingCardsList {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 12px;
			margin-top: 16px;
		}
		.addBillingBtn {
			margin-top: 24px;
			gap: 8px;
			img {
				width: 18px;
				height: 18px;
			}
		}
	}
	.historyWrapper {
		margin-top: 36px;
		.title {
			@include title_2_20_m;
		}
		.sort {
			margin-top: 16px;
		}
		.dateWrapper {
			margin-top: 12px;
			display: flex;
			align-items: center;
			gap: 56px;
			p {
				@include text_2_14_r;
				color: var(--txt-gray-color2);
			}
			.dateList {
				display: flex;
				align-items: center;
				gap: 15px;
				.input {
					max-width: 164px;
				}
			}
		}
	}
	.list {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 36px;
		.row {
			display: grid;
			grid-template-columns: 160px 1fr;
			gap: 30px;
			.dateBlock {
				p {
					@include text_2_14_r;
					color: var(--txt-gray-color2);
				}
			}
			.fondsList {
				display: flex;
				flex-direction: column;
				.historyCard {
					padding: 16px 0;
					gap: 20px;
					display: grid;
					grid-template-columns: 310px 116px 116px 116px;
					&:first-child {
						padding-top: 0;
						border-bottom: 1px solid var(--line-color);
					}
					// &:last-child {
					// 	padding-bottom: 0;
					// }
					.author {
						display: flex;
						align-items: center;
						gap: 16px;
						.icon {
							min-width: 40px;
							min-height: 40px;
							max-width: 40px;
							max-height: 40px;
							border-radius: 999px;
							display: flex;
							align-items: center;
							justify-content: center;
							background: var(--gray-color);
							img {
								width: 18px;
								height: 18px;
							}
						}

						.title {
							@include link_14_m;
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 2; /* Ограничиваем текст до 3 строк */
							-webkit-box-orient: vertical;
							text-overflow: ellipsis;
						}
					}
					.descr {
						@include text_2_14_r;
						color: var(--txt-gray-color2);
					}
					.card {
						color: var(--txt-gray-color2);
						@include button_2_14_r;
					}
					.sum {
						text-align: right;
						@include title_4_14_m;
						&.green {
							color: var(--green-color);
						}
						&.red {
							color: var(--danger-color);
						}
					}
				}
			}
		}
	}
}
