.subcribeCard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
	border-top: 1px solid var(--line-color);
	.subscribeInfo {
		display: flex;
		align-items: center;
		gap: 16px;
		img {
			width: 48px;
			height: 48px;
			border-radius: 9999px;
		}
		.text {
			display: flex;
			flex-direction: column;
			gap: 4px;
			.title {
				@include text_2_14_r;
			}
			.descr {
				@include caption_2_12_r;
				color: var(--txt-gray-color2);
			}
		}
	}
}
